<!-- 
    http://w1.c1.rada.gov.ua/pls/radan_gs09/ns_zal_frack
 -->

<div class="rows">
  <br />
  <br />

  <row *ngFor="let row of rows; let i = index" [seats]="row.seats"></row>

  <!-- <br /> -->

  <!-- <div #rows *ngFor="let row of uiRows; index as rowIndex" class="row">
    <div
      *ngFor="let seat of uiSeats; index as seatIndex"
      class="seatCell"
      [class.seat]="isSeat(rowIndex, seatIndex)"
      (mouseenter)="openOverlay($event)"
      (mouseleave)="onSeatMouseLeave(rowIndex, seatIndex)"
    ></div>
  </div> -->
</div>

{{ seatDetails }}
