<mat-card class="example-card">
  <iframe
    mat-card-image
    width="440"
    height="248"
    src="https://www.youtube.com/embed/jouBLdVdj_4"
    title="💥 Аж знаки позагинало! Страшна ударна хвиля, що пронеслась центром Вінниці"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</mat-card>

<mat-card class="example-card">
  <iframe
    mat-card-image
    width="440"
    height="248"
    src="https://www.youtube.com/embed/jouBLdVdj_4"
    title="💥 Аж знаки позагинало! Страшна ударна хвиля, що пронеслась центром Вінниці"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card
  class="example-card link-card"
  (click)="openLink('https://www.pravda.com.ua/news/2022/07/16/7358502/')"
>
  <img
    mat-card-image
    src="https://img.pravda.com/images/doc/f/a/fa7fbe4-bucha.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Українська Правда</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Німецька прокуратура розслідує витік даних розвідки про звірства росіян в
      Бучі
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
